/*Spiff Submit Form Customization*/

.spiff-submit-form {
    min-height: 95vh;
    max-height: 95vh;
    height: 95vh;
    width: 40vw;
    min-width: 40vw;
    max-width: 40vw;
}

#spiff-submit-form-card-content {
	padding: 0px !important;
	margin: 0;
}

.spiff-submit-form>.card-content {
    overflow: scroll;
    height: 90vh;
}

#submit-spiff-form {
    width: 250px;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
}

.spiff-submit-form>.card-content>.card-content {
    display: flex;
    flex-wrap: wrap;
}

.spiff-submit-form>.card-content>.card-content>.form-info-item {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
}

.header.spiff-form {
    font-size: 25px;
    color:#626988;
    max-width: 95%;
    min-width: 95%;
    width: 95% !important;
    padding: 0;
}

#spiff-form-submit-row {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
#spiff-form-submit-row>.header {
    padding-left: 0;
}
#spiff-form-submit-row>.header>.header-text {
    text-align: center;
}

#refer-to-cont>.dropdown-cont>.dropdown-option.selected>.dropdown-arrow,
#spiff-for-cont>.dropdown-cont>.dropdown-option.selected>.dropdown-arrow,
#Tech-ID-cont>.dropdown-cont>.dropdown-option.selected>.dropdown-arrow {
    right: 15px;
}

#refer-to-cont>.dropdown-cont>.dropdown-option.selected,
#spiff-for-cont>.dropdown-cont>.dropdown-option.selected,
#Tech-ID-cont>.dropdown-cont>.dropdown-option.selected {
    line-height: 30px;
}

#spiff-for-cont>.dropdown-cont>.dropdown-list {
    margin-top: -31vh;
}
#refer-to-cont>.dropdown-cont>.dropdown-list {
	margin-top: -33vh;
}

#refer-to-cont>.dropdown-option>.dropdown-list>.dropdown-option,
#spiff-for-cont>.dropdown-option>.dropdown-list>.dropdown-option {
    height: 40px;
}

/*Form item customizations*/
#Tech-ID-cont, #refer-to-cont, #spiff-for-cont {
    width: 100%;
	padding-left: 2.5%;
	padding-right: 2.5%;
}
#Tech-ID>label {
    display: none;
}
#Tech-ID-cont>.dropdown-option, 
#spiff-for-cont>.dropdown-option, 
#refer-to-cont>.dropdown-option {
    display:block;
    width: 95%;
    height: 40px;
}

#Cust-FName-cont, #Cust-LName-cont, #Tech-FName-cont, #Tech-LName-cont {
    width: 50%;
}

#Address-spiff-form-cont, #WO-number-cont {
    width: 100%;
}

#Cust-FName-cont>.form-info-title, 
#Cust-LName-cont>.form-info-title, 
#Tech-FName-cont>.form-info-title, 
#Tech-LName-cont>.form-info-title {
    font-size: 12px;
    width: 90%;
}
#Cust-FName-cont>input, 
#Cust-LName-cont>input, 
#Tech-FName-cont>input, 
#Tech-LName-cont>input {
    width: 90%;
    height: 40px;
}

#Address-spiff-form-cont>.form-info-title, 
#WO-number-cont>.form-info-title, 
#spiff-for-cont>.form-info-title, 
#refer-to-cont>.form-info-title {
    width: 95%;
    font-size: 12px;
}

#Address-spiff-form-cont>input, #WO-number-cont>input {
    width: 95%;
    height: 40px;
}

#Tech-Name-Header-cont,
#Cust-Name-Header-cont,
#WO-Header-cont,
#Address-Header-cont,
#Tech-Header-cont,
#Spiff-For-Header-cont,
#Refer-To-Header-cont {
    width: 100%;
    justify-content: center;
    align-items: center;
}